<!-- include header -->
<%- include('include/_header')%>
    <!-- /include header -->

    <!-- main section -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fa fa-angle-double-left"></i> All users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the form below to form to update the membership</span>
            </div>

            <!-- add user form -->

            <!-- form handling -->
            <form id="update_user" method="post">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="text" name="name" value="<%= user.name%>" placeholder="Jasprit Bumrah">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="email" name="email" value="<%=user.email%>" placeholder="jasprit@bcci.com">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="text-light">Phone Number</label>
                        <input type="tel" name="phone" value="<%=user.phone%>" placeholder="9988776655">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" name="gender" value="Male">
                            <label for="gender" class=".radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" name="gender" value="Female" >
                            <label for="gender" class=".radio-label">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="membership" class="text-light">Membership(In months)</label>
                        <input type="number" name="membership" value="<%=user.membership%>" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="membershipvalidupto" class="text-light">Membership valid upto</label>
                        <input type="date" name="membershipvalidupto" value="<%=user.membershipvalidupto %>">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </main>
    <!-- /main section -->

    <!-- include footer -->
    <%- include('include/_footer')%>
        <!-- /include footer -->